
/* https://www.svgviewer.dev/ */
:root {
  --md-status--ood: url('images/warning.svg');
  --md-status--todo: url('images/todo.svg');
  --md-status--warn: url('images/warning.svg');

  --md-status--current: url('images/current.svg');
}

.md-status--ood::after {
  mask-image: var(--md-status--ood);
  -webkit-mask-image: var(--md-status--ood);
}

.md-status--todo::after {
  mask-image: var(--md-status--todo);
  -webkit-mask-image: var(--md-status--todo);
}

.md-status--warning::after {
  mask-image: var(--md-status--warn);
  -webkit-mask-image: var(--md-status--warn);
}

.md-status--current::after {
  mask-image: var(--md-status--current);
  -webkit-mask-image: var(--md-status--current);
}

[data-md-color-scheme="default"] {
  --md-default-bg-color: red;
}

/* Dark mode */
[data-md-color-scheme="current"] {
  --md-default-bg-color: blue;
}